<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <description>Get Information about Country - jQuery Ajax Request</description>
        <display-name>BackOffice</display-name>
        <servlet-name>BackOffice</servlet-name>
        <servlet-class>com.unionbank.core.BackOffice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackOffice</servlet-name>
        <url-pattern>/BackOffice</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description>Get Information about Country - jQuery Ajax Request</description>
        <display-name>UploadFile</display-name>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.unionbank.core.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    
     
    <servlet>
        <servlet-name>upload</servlet-name>            
        <servlet-class>com.unionbank.core.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <description></description>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.unionbank.core.UploadServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <description>This servlet sends file to client</description>
        <display-name>DownloadFileServlet</display-name>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.unionbank.core.DownloadFileServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping> 
</web-app>
